<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/css/freelancers.css">
</head>
<body>
    {{ partial "header.html" . }}
    <main class="content-page container pt-7 pb-5">
        <h3>Find contractors or freelancers from our community</h3>
        <div class="row join">
            <div class="col">
                <p>Looking for someone else? Join the <a href="https://bcneng.slack.com/archives/C6JH3Q69F">#contractors-freelancers</a> channel.<br/>
                Looking for gigs? Learn <a href="#howto">#how to</a> to add yourself to the table.
				</p>
            </div>
        </div>
        <div class="row">
            <div class="col tablewrapper">
                {{ partial "freelancers_list.html" . }}
            </div>
        </div>
        <div class="row join howto" id="howto">
            <div class="col">
                <h6>How to</h6>
                <ul>
                    <li><a href="https://moshfeu.medium.com/how-to-find-my-member-id-in-slack-workspace-d4bba942e38c">Locate</a> your Slack member ID</li>
                    <li>Edit and fill your data at the <a href="https://github.com/bcneng/website/edit/main/data/freelancers.json">data source</a> file at GitHub. Do a Pull Request.</li>
                    <li>Your PR will be validated by the staff team. Once merged, your data will appear at the table above.</li>
                    <li>For any Q&A, join <a href="https://bcneng.slack.com/archives/C2YUDTUDD">#ask-staff</li>
                </ul>
            </div>
        </div>
    </main>

    {{ partial "footer.html" . }}
    {{ partial "foot.html" . }}

    {{ template "_internal/google_analytics.html" . }}
</body>
</html>
