html {
    background: linear-gradient(to bottom, #333333 50%, #FFFFFF 50%);
}
.homepage-image img {
    -webkit-box-reflect: below -70px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
}
.homepage h1, .homepage h2, .homepage h3 {
    margin-bottom: 0.75rem;
}
.homepage h3 {
    margin-top: 2.5rem;
}
.link-list {
    margin-top: -1rem;
}

@media (min-width: 992px) {
.homepage-image {
    position: relative;
    float: right;
    right: 0;
    width: 400px;
}
.homepage-image img {
    -webkit-box-reflect: below -39px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
}
}
@media (max-width: 991px) {
.homepage-image {
    max-width: 55%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.homepage-image img {
    -webkit-box-reflect: below -39px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
}
}
@media (max-width: 575px) {
.homepage h1 {
    text-align: center;
}
.homepage-image img {
    -webkit-box-reflect: below -15px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
}
.button-wrapper {
    display: flex;
    justify-content: center;
}
}

.homepage h1, .homepage h2, .homepage h3 {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.03em;
}

p, li {
    line-height: 1.7em;
}

.avatar {
    width: 180px;
    margin: 5px 10px;
}
.avatar a img {
    border-radius: 50%;
    border: 6px solid #DEDEDE;
}

.open-collective,
.open-collective::before {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 22px
}
.open-collective {
    position: relative;
    transform: scale(var(--ggs,1)) translate(3px, 2.5px);
    width: 18px;
    height: 18px;
    border: 3px solid;
    border-right-color: transparent
}
.open-collective::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid transparent;
    border-right: 3px solid;
    top: -1px;
    right: -3px;
    opacity: .5
}

#home,
.navbar-dark .navbar-nav .nav-link {
    color: hsla(0,0%, 100%, .8);
}
