:root {
  --space-unit: 1rem;
}

html {
  background: linear-gradient(to bottom, #333333 50%, #ffffff 50%);
}

.homepage-image {
  position: relative;
  overflow: hidden;
}

.homepage-image img {
  -webkit-box-reflect: below -70px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
}
.homepage h1,
.homepage h2,
.homepage h3 {
  margin-top: var(--space-unit);
  margin-bottom: var(--space-unit);
}
.homepage h3 {
  margin-top: calc(2 * var(--space-unit));
}
.link-list {
  margin-top: 0;
  margin-bottom: var(--space-unit);
}
.homepage p {
  margin-bottom: var(--space-unit);
}
p,
li {
  line-height: 1.7em;
}

@media (min-width: 992px) {
  .homepage h1 {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 0.2em 0.4em 0 0.3em;
    margin-bottom: var(--space-unit);
  }

  .homepage-image {
    position: relative;
    float: right;
    right: 0;
    width: 400px;
  }
  .homepage-image img {
    -webkit-box-reflect: below -39px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
  }
}
@media (max-width: 991px) {
  .homepage-image {
    max-width: 55%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .homepage-image img {
    -webkit-box-reflect: below -39px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
  }
}
@media (max-width: 575px) {
  body {
    font-size: 1.05rem;
  }
  p {
    line-height: 1.6em;
  }
  .homepage h1 {
    text-align: center;
  }
  .homepage-image img {
    -webkit-box-reflect: below -15px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
  }
}

.homepage h1,
.homepage h2,
.homepage h3 {
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

.avatar {
  width: 180px;
  margin: 5px 10px;
}
.avatar a img {
  border-radius: 50%;
  border: 6px solid #dedede;
}

.open-collective,
.open-collective::before {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 22px;
}
.open-collective {
  position: relative;
  transform: scale(var(--ggs, 1)) translate(3px, 2.5px);
  width: 18px;
  height: 18px;
  border: 3px solid;
  border-right-color: transparent;
}
.open-collective::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid transparent;
  border-right: 3px solid;
  top: -1px;
  right: -3px;
  opacity: 0.5;
}

.opencollective-banner {
  display: flex;
  justify-content: left;
  margin-top: var(--space-unit);
  margin-bottom: var(--space-unit);
}
.opencollective-banner iframe {
  width: 100%;
}
@media (max-width: 575px) {
  .opencollective-banner {
    display: block;
    margin-top: var(--space-unit);
    margin-bottom: var(--space-unit);
  }
  .opencollective-banner iframe {
    width: 100%;
  }
}

.sponsor-logos {
  display: flex;
  flex-wrap: wrap;
}
.sponsor-logos a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor-logo-image {
  width: 200px;
  margin: 0 75px 25px 0;
}

@media (max-width: 575px) {
  .sponsor-logos {
    justify-content: center;
  }
  .sponsor-logo-image {
	margin: 0 0 25px 0;
  }
}


.project-logos {
  display: flex;
  flex-wrap: wrap;
}
.project-logos a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-logo-image {
  width: 200px;
  margin: 0 75px 25px 0;
}

@media (max-width: 575px) {
  .project-logos {
    justify-content: center;
  }
  .project-logo-image {
	margin: 0 0 25px 0;
  }
}

#home,
.navbar-dark .navbar-nav .nav-link {
  color: hsla(0, 0%, 100%, 0.8);
}

.mask-image {
  display: block;
}

.shine-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 75%);
  transform: rotate(30deg);
  animation: shine 5s 1.5s infinite;
  mix-blend-mode: overlay;
}

@keyframes shine {
  0% {
    transform: translateX(-50%) rotate(30deg);
  }
  100% {
    transform: translateX(150%) rotate(30deg);
  }
}

.zoomInDown {
  -webkit-animation-name: zoomInDown;
  animation: zoomInDown 2s;
}

@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

