@media (min-width: 992px) {
.homepage-image {
    position: relative;
    float: right;
    right: 0;
    width: 400px;
}
}
@media (max-width: 575px) {
.homepage-image {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
}
