body, h5, h6 {
    color: #fff;
}

.join {
    font-size: 0.85em;
}

.howto {
    font-size: 0.75em;

}

table a, .join a {
    color: #fff;
}

table a:hover, .join a:hover {
    color: #aaa;
}

h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

.tablewrapper {
    margin: 2em 0;
}
table {
    width: 100%;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    padding: 10px 15px;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    border-top: solid 1px rgba(255, 255, 255, 0.25);
    border-bottom: solid 1px rgba(255, 255, 255, 0.25);
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: top;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    word-wrap: break-word;
    max-width: 400px;
}

td ul {
    padding-inline-start: 15px;
    min-width: 105px;
}

body {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #333 74%);
}

section {
    margin: 50px;
}


.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
}

.made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
}

.made-with-love a {
    color: #fff;
    text-decoration: none;
}

.made-with-love a:hover {
    text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.rwd-table {
    margin: 1em 0;
    min-width: 300px;
}
.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.rwd-table th {
    display: none;
}
.rwd-table td {
    display: block;
}
.rwd-table td:first-child {
    padding-top: 0.5em;
}
.rwd-table td:last-child {
    padding-bottom: 0.5em;
}
.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}
@media (min-width: 768px) {
    .rwd-table td:before {
        display: none;
   }
}
.rwd-table th, .rwd-table td {
    text-align: left;
}
@media (min-width: 768px) {
    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
   }
    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: 0;
   }
    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
   }
}