{{ define "main" }}
<main class="homepage container py-6">
    <!-- Hero -->
    <div class="hero row">
        <div class="col position-relative py-lg-2">
            {{- with .Site.Params.homepageImage -}}
                <div class="homepage-image">
                    <img src="{{ . | relURL }}" class="img-fluid">
                </div>
            {{- end -}}

            <h1 class="display-4">{{ .Site.Title }}</h1>
            <p>We are an online community built by and for the software engineering community from Barcelona and around.</p>
            <p>Our <a href="/about">mission</a> is to let Barcelona's tech hub to become one of the best tech communities around the globe.</p>
            <p class="button-wrapper">
                <a href="https://slack.bcneng.org" target="_blank">
                    <button type="button" class="btn btn-dark">JOIN NOW</button>
                </a>
            </p>
            <p>Please read our:</p>
            <ul class="link-list">
                <li><a href="/coc">Code of Conduct</a></li>
                <li><a href="/netiquette">Netiquette</a></li>
            </ul>

            <h3>Freelancers</h3>
            If you are looking for IT services, take a look at our <a
                href="/freelancers">freelancers database</a> where you will
            find individuals from our community with a wide range of skills
            that can help you achieve your projects.

            <h3>Sponsorship</h3>
            <p>We are a non-profit organization. If you want to support us, you can do it so via <a href="https://opencollective.com/how-it-works" target="_blank">Open Collective</a>.</p>
            <div class="button-wrapper">
                <a href="https://opencollective.com/bcneng/donate" target="_blank">
                    <button type="button" class="btn btn-dark">DONATE <i class="open-collective"></i></button>
                </a>
            </div>
            <script src='https://opencollective.com/bcneng/banner.js?style={"a":{"color":"black", "fontFamily":"sans-serif"},"h2":{"fontFamily":"sans-serif","fontWeight":"bold","fontSize":"1.2em"}}'></script>
            <h3>Sponsors</h3>
            <p>Thanks to these organizations for helping us.</p>
            <div class="sponsor-logos">
                <a href="https://slack.com/">
                    <img src="/images/sponsor-logos/slack.webp" class="img-fluid sponsor-logo-image" alt="Donut logo">
                </a>
                <a href="https://digitalocean.com/">
                    <img src="/images/sponsor-logos/digital-ocean.svg" class="img-fluid sponsor-logo-image" alt="Donut logo">
                </a>
                <a href="https://donut.com/">
                    <img src="/images/sponsor-logos/donut.png" class="img-fluid sponsor-logo-image" alt="Donut logo">
                </a>
            </div>
        </div>
    </div>

    <!-- Latest article -->
    {{- range first 1 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) -}}
        {{ $page := . }}
        <div class="latest row py-lg-5">
            <div class="col-lg-6 mb-3">
                {{- with $page.Params.images -}}
                    {{- $images := . -}}
                    {{- with $page.Site.GetPage "section" "images" -}}
                        {{- with .Resources.GetMatch (strings.TrimPrefix "/images/" (index $images 0)) -}}
                            {{- $image := .Fill "700x450" -}}
                            <a href="{{ $page.RelPermalink }}" class="d-block">
                                <img data-src="{{ $image.RelPermalink }}" class="img-fluid rounded" alt="{{ $page.Title }}">
                            </a>
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            </div>
            <div class="col-lg-6 mb-3">
                <h5 class="created text-muted text-uppercase font-weight-bold">{{ $page.Date.Format "January 2, 2006" }}</h5>
                <h2><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></h2>

                <div class="content">
                    {{ $page.Summary }}
                </div>
            </div>
        </div>
    {{- end -}}

    <!-- Articles -->
    <div class="articles row row-cols-1 row-cols-lg-3">
        {{ range after 1 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
            <div class="col mb-3">
                {{ .Render "card" }}
            </div>
        {{ end }}
    </div>
</main>
{{ end }}
